*{font-family: sans-serif;
}

nav, header, footer {
    background-color: #1f2937;
    color:#F9FAF8;
    display: flex;  
}

nav{gap:10px ;
}

header {padding: 150px; /*top right bottom left*/
}

.header-text {flex-direction: column;
}

header img {aspect-ratio: 5/3;
    max-height: 100%;
    padding: 20px;
}

footer {
    justify-content: center;
    padding: 10px;
}

h1 {font-size: 48px;
    font-weight:bolder;
}

h2 {font-size: 24px;
    flex-grow: 2;
}

h3 {justify-self: flex-end;}

h3, .subtext {font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color:#F9FAF8;
    border-radius: 12px;
    height: 50px;
    width: 200px;
    font-weight: bolder;
}

.action button {
    align-self: center;
    border-color: #F9FAF8;
}

header button {
    justify-self: center;
    border: 0;
}

.information {font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
    text-align: center;
}

.information .illustrations {
    font-size: 18px;
    font-weight: normal;
    display:flex;
    justify-content: center;
    gap: 10px;
}

.information .illustrations p{
    flex-wrap: wrap;
}

.information .illustrations img{
    border: 4px solid #3882f6;
    border-radius: 25px;
}

.illus1, .illus2, .illus3 {flex-direction: column;
}

.testimonials {background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    padding: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.testimonials .author {font-size: 18px;
font-style: normal;
font-weight: bold;
align-self: flex-end;
}

.action {background-color: #3882f6;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
    margin: 50px 75px 50px 75px; /*top right bottom left*/
    padding: 40px 100px 40px 100px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;

}

#action-text {display: flex;
    flex-direction: column;
    flex-grow: 2;
}

