*{font-family: sans-serif;
}

nav, header {
    background-color: #1f2937;
    color:#F9FAF8;
}

h1 {font-size: 48px;
    font-weight:bolder;
}

h2 {font-size: 24px;
}

h3 {font-size: 18px;
    color: #e5e7eb;
}
