*{font-family: sans-serif;
}

nav, header, footer {
    background-color: #1f2937;
    color:#F9FAF8;
}

footer {
    text-align: center;
    padding: 20px;
}

h1 {font-size: 48px;
    font-weight:bolder;
}

h2 {font-size: 24px;
}

h3, .subtext {font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color:#F9FAF8;
}

.information {font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
    text-align: center;
}

.information .illustrations {
    font-size: 18px;
    font-weight: normal;
    display:flex;
    justify-content: center;
    gap: 10px;
}

.information .illustrations p{
    flex-wrap: wrap;
}

.testimonials {background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    padding: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.testimonials .author {font-size: 18px;
font-style: normal;
font-weight: bold;
align-self: flex-end;
}

.action {background-color: #3882f6;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
    margin: 50px 75px 50px 75px; /*top right bottom left*/
}